.sidebar {
}

.wizard-step-title {
  text-align: center;
}

.btn-select-disaster {
  width: 100%;
  margin: 30px 0 0 0;
  border-radius: 0;
  height: 60px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.action-buttons {
  text-align: right;
  button {
    border-radius: 0;
    margin-left: 10px;
  }
}
