.sidebar {
}

.wizard-step-title {
  text-align: center;
}

.btn-select-disaster {
  width: 100%;
  margin: 30px 0 0 0;
  border-radius: 0;
  height: 60px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.action-buttons {
  text-align: right;

  button {
    border-radius: 0;
    margin-left: 10px;
  }
}

code {
  color: #177d9b;
}

.value {
  font-weight: bold;
  font-size: 15px;
  color: #1976d2;
}

.simulation-stats {
  margin-top: 25px;
  .list-group-item {
    align-items: center;
    border-radius: 0;
  }
  .vulnerability-label {
    font-size: 13px;
    text-transform: uppercase;
  }
  .vulnerability-score {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
}
