<div>
  <div *ngIf="disasterService.state.wizardStep == WizardSteps.DisasterChoice">
    <h4 class="wizard-step-title">What would you like to simulate?</h4>
    <button class="btn btn-lg btn-danger btn-select-disaster" (click)="chooseDisaster(DisasterTaxonomies.Earthquake)">
      Earthquake !!
    </button>
    <button class="btn btn-lg btn-warning btn-select-disaster" (click)="chooseDisaster(DisasterTaxonomies.Hurricane)">
      Hurricane !!
    </button>
  </div>
  <div *ngIf="disasterService.state.wizardStep == WizardSteps.InputParameters">
    <form (submit)="fetchMagnitude($event)">
      <div *ngIf="disasterService.state.chosenDisaster == DisasterTaxonomies.Earthquake">
        <h4 class="wizard-step-title">Earthquake</h4>
        <div class="form-group">
          <label for="intensityRange">Earthquake Intensity</label>
          <input type="range" class="form-control custom-range" id="intensityRange" name="intensity"
                 [(ngModel)]="earthquakeParameters.intensity"
                 (change)="disasterService.updateEarthquakeIntensity($event.target.value)">
        </div>
        <br>
        <code>
          Epicenter: [{{earthquakeParameters.center.lat}}, {{earthquakeParameters.center.lng}}]
        </code>
        <br>
        <code>
          Radius: {{earthquakeParameters.radius}}
        </code>
        <br>
        <code>
          Intensity: {{earthquakeParameters.intensity}}
        </code>
      </div>
      <div *ngIf="disasterService.state.chosenDisaster == DisasterTaxonomies.Hurricane">
        <h4 class="wizard-step-title">Hurricane</h4>
        <div class="form-group">
          <label for="magnitude">Magnitude</label>
          <input type="text" class="form-control" id="magnitude" name="magnitude" placeholder="Enter magnitude"
                 [(ngModel)]="magnitude">
        </div>
      </div>
      <hr>
      <div class="action-buttons">
        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Previous</button>
        <button type="submit" class="btn btn-success pull-right">Start Simulation!</button>
      </div>
    </form>
  </div>


  <br>

  <div style="margin-top: 20px;">
    <code *ngIf="magnitudeResponse">
      The equivalent energy is: {{magnitudeResponse.energy}}
    </code>
  </div>
</div>
