<div>
  <div *ngIf="disasterService.state.wizardStep == WizardSteps.DisasterChoice">
    <h4 class="wizard-step-title">What would you like to simulate?</h4>
    <button class="btn btn-lg btn-danger btn-select-disaster" (click)="chooseDisaster(DisasterTaxonomies.Earthquake)">
      Earthquake !!
    </button>
    <button class="btn btn-lg btn-warning btn-select-disaster" (click)="chooseDisaster(DisasterTaxonomies.Hurricane)">
      Hurricane !!
    </button>
  </div>
  <div *ngIf="disasterService.state.wizardStep == WizardSteps.InputParameters ||
              disasterService.state.wizardStep == WizardSteps.Simulation">
    <form (submit)="fetchMagnitude($event)">
      <div *ngIf="disasterService.state.chosenDisaster == DisasterTaxonomies.Earthquake">
        <h4 class="wizard-step-title">Earthquake</h4>
        <div class="form-group">
          <label for="intensityRange">Earthquake Intensity</label>
          <input type="range" class="form-control custom-range" id="intensityRange" name="intensity"
                 [(ngModel)]="disasterService.earthquakeParameters.intensity"
                 (change)="disasterService.updateEarthquakeIntensity($event.target.value)">
        </div>
        <br>
        <code>
          Epicenter: [
          <span class="value">{{disasterService.earthquakeParameters.center.lat.toFixed(8)}}</span>,
          <span class="value">{{disasterService.earthquakeParameters.center.lng.toFixed(8)}}</span>
          ]
        </code>
        <br>
        <code>
          Radius: <span class="value">{{(disasterService.earthquakeParameters.radius / 1000).toFixed(4)}} km</span>
        </code>
        <br>
        <code>
          Intensity: <span class="value">{{utils.toFloat(disasterService.earthquakeParameters.intensity) / 10}}</span>
        </code>
      </div>
      <div *ngIf="disasterService.state.chosenDisaster == DisasterTaxonomies.Hurricane">
        <h4 class="wizard-step-title">Hurricane</h4>
        <div class="form-group">
          <label for="startIntensityRange">Start Intensity</label>
          <input type="range" class="form-control custom-range" id="startIntensityRange" name="startIntensity"
                 [(ngModel)]="disasterService.hurricaneParameters.start.intensity"
                 (change)="disasterService.updateHurricaneStartIntensity($event.target.value)">
        </div>
        <div class="form-group">
          <label for="endIntensityRange">End Intensity</label>
          <input type="range" class="form-control custom-range" id="endIntensityRange" name="endIntensity"
                 [(ngModel)]="disasterService.hurricaneParameters.end.intensity"
                 (change)="disasterService.updateHurricaneEndIntensity($event.target.value)">
        </div>
        <br>
        <code>
          Start Center: [
          <span class="value">{{disasterService.hurricaneParameters.start.center.lat.toFixed(8)}}</span>,
          <span class="value">{{disasterService.hurricaneParameters.start.center.lng.toFixed(8)}}</span>
          ]
        </code>
        <br>
        <code>
          Start Radius: <span class="value">{{(disasterService.hurricaneParameters.start.radius / 1000).toFixed(4)}}
          km</span>
        </code>
        <br>
        <code>
          Start Intensity: <span class="value">{{utils.toFloat(disasterService.hurricaneParameters.start.intensity) / 10}}</span>
        </code>
        <br>
        <code>
          End Center: [
          <span class="value">{{disasterService.hurricaneParameters.end.center.lat.toFixed(8)}}</span>,
          <span class="value">{{disasterService.hurricaneParameters.end.center.lng.toFixed(8)}}</span>
          ]
        </code>
        <br>
        <code>
          End Radius: <span class="value">{{(disasterService.hurricaneParameters.end.radius / 1000).toFixed(4)}}
          km</span>
        </code>
        <br>
        <code>
          End Intensity: <span class="value">{{utils.toFloat(disasterService.hurricaneParameters.end.intensity) / 10}}</span>
        </code>
      </div>
      <hr>
      <div class="action-buttons">
        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Previous</button>
        <button type="button" class="btn btn-success pull-right" (click)="simulateDisaster()">
          Start Simulation!
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="disasterService.state.wizardStep == WizardSteps.Results">
    <h3 class="text-muted text-center">Most Vulnerable Cities:</h3>
    <div class="list-group simulation-stats">
      <div class="list-group-item d-flex justify-content-between"
           [style.background-color]="utils.percentageToColor(row.vulnerability, 0.2)"
           *ngFor="let row of disasterService.simulationResponse.stats">
        <div>
          <h5>{{row.city}}</h5>
          <div>Population: <b>{{row.population}}</b></div>
        </div>
        <div>
          <div class="vulnerability-label">Vulnerability</div>
          <div class="vulnerability-score">{{row.vulnerability}}</div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="action-buttons">
      <button type="button" class="btn btn-primary" (click)="goBack(3)">Start Over</button>
    </div>
  </div>
</div>
