$headerHeight: 60px;

.leaflet-container {
  height: calc(100vh - #{$headerHeight});
}

.leaflet-draw {
  display: none;
}

.spinner-text {
  color: #ffc637;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
