{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Project Poseidon</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'landing/img/favicon.png' %}" rel="icon">
  <link href="{% static 'landing/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'landing/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'landing/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Poseidon</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="{% static 'landing/img/logo.png' %}" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="{% url 'app' '' %}">
            <button class="btn btn-outline-light nav-launch-app-btn">
              Launch App
            </button>
          </a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>Project Poseidon</h2>
      <p>Studying the Impact of Disasters on Transportation Infrastructure</p>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="about section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Introduction and Motivation</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row">
          <div class="col-lg-6 offset-3 text-center content wow fadeInRight">
            <p>The impact of extremely rare and almost completely unexpected events (called “<em>Black Swans</em>”) is often underestimated, and plans to mitigate or repair their damage upon public infrastructure are often outdated or even non-existent. In many instances where catastrophes cause unprecedented damage to lives and property, it is often realized after the fact that most decision-makers did not even consider the possibility of such an event happening. The impact of these events is magnified due to the completely unprepared nature of its victims. One case in point is the 2004 Indian Ocean Tsunami which had a death toll of almost 240,000. Previous such events in the same region were in 1883 and 1400 and these had catastrophic casualties as well. The vast majority of people as well as decision-makers in some heavily-hit regions did not even know that tsunamis were a thing, let alone advocate preparative measures for one.
            </p>
            <p>Policy discussions, decision-making, regulations and preparedness measures against disasters often center around:</p>
            <ul class="check-list">
              <li><i class="ion-android-checkmark-circle"></i> <b>Individual buildings:</b>&nbsp; Building codes, strengthened materials, better structural design, evacuation drills</li>
              <li><i class="ion-android-checkmark-circle"></i> <b>Intra-city first response:</b>&nbsp; Removing encroachments on critical roads, funding for local first responders.</li>
              <li><i class="ion-android-checkmark-circle"></i> <b>Prediction:</b>&nbsp; Tsunami warning systems, better weather satellites, weather prediction models.</li>
            </ul>
            <p>However, when the public recovery infrastructure of an entire city is put out of action, which is often the case with extremely powerful disasters, help has to arrive from outside. This cannot happen in volume if the city is disconnected from all inter-city transportation networks.</p>
            <p>Our project makes a <b>post-facto</b> study of the impact that such disasters can have on road connectivity by building road network graphs from datasets and running Monte-Carlo simulations to measure the vulnerability of each city to being unreachable in the aftermath of a disaster.</p>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Related Work Section
    ============================-->
    <section id="suggested-improvements" class="about section-bg bg-white">
      <div class="container-fluid" style="max-width: 1390px;">
        <div class="section-header">
          <h3 class="section-title">Related Work</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img wow fadeInLeft">
            <img src="{% static 'landing/img/wisetjindawat.png' %}" alt="">
          </div>
          <div class="col-lg-6 text-left content wow fadeInRight">
            <p><a href="https://www.jstage.jst.go.jp/article/easts/10/0/10_196/_article/-char/en">Wisetjindawat et. al.</a> perform a thorough study of the aftermath of the 2011 East Japan Earthquake in terms of its impact on water, gas, electricity and roads. Their focus is on building logistical plans for distributing food, water and medicines, as well as supporting the civilian population in temporary shelters until recovery. They attempt to estimate how many trucks, drivers, the quantity of fuel and the number of operational hours required to restore normalcy in the aftermath of the disaster. They compare the existing response plan with their proposed plan which they obtain by setting up an optimization problem. However, their road network analysis is primarily deterministic in nature and their focus is on response planning rather than vulnerability estimation. This paper provides the main inspiration for much of the disaster and damage modeling that we do in our work.</p>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Datasets Section
    ============================-->
    <section id="features" class="bg-gray">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title">Datasets</h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="{% static 'landing/img/datasets.png' %}" alt="" class="wow fadeInLeft">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-android-locate"></i></div>
                <h4 class="title"><a href="https://simplemaps.com/data/us-cities" target="_blank">SimpleMaps US Cities Dataset</a></h4>
                <p class="description">This provides a list of cities in the US along with their latitude, longitude and population. A more advanced paid version also provides demographic information, income distribution, etc. However, geocoordinage and the population is enough for our project.</p>
                <p><a href="https://simplemaps.com/data/us-cities" target="_blank">simplemaps.com</a></p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                <div class="icon"><i class="ion-android-subway"></i></div>
                <h4 class="title"><a href="https://www.cs.utah.edu/~lifeifei/SpatialDataset.htm" target="_blank">California Road Network</a></h4>
                <p class="description">This dataset was prepared by dividing the inter-city road network of California into segments that are upto 10 km long and creating a graph out of the result. It provides us the latitude and longitudes of the endpoints of each segment.</p>
                <p><a href="https://www.cs.utah.edu/~lifeifei/SpatialDataset.htm" target="_blank">cs.utah.edu</a></p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- #features -->

    <!--==========================
      Building the graph
    ============================-->
    <section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Building the graph</h3>
          <span class="section-divider"></span>
          <p class="section-description">We first had to merge the above two datasets and produce an inter-city road graph. <br>We also required three different facets or views of the graph for the rest of our system.</p>
        </div>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Tile View <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>Our goal is to generate a tiled map of California along with the set of road segments each tile contains. We generate this view by first drawing uniformly dividing California into 1km x 1km tiles. After that, we create a representation of the set of all tiles and store:</p>
              <p>
                <ul>
              <li class="border-0">The latitude and longitude of the center of the tile</li>
<li class="border-0">A set of Node IDs and Edge IDs of the road segments located within the tile.</li>
            </ul>
              </p>
              <p>An obvious, but clever optimization that we did was to not store any information about tiles that do not contain any roads, bringing down the number of tiles by 96%.</p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Segment View <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>Here, we wish to construct a graph where the nodes are endpoints of road segments, and the edges are the segments themselves. The node attributes are Latitude, Longitude, Node ID while the edge attributes are Start node ID, end node ID and edge ID.
              </p>
                <p>This can be formed by just reading the California road network dataset without any major pre-processing steps.</p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Settlement View <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>For this view, we wish to construct a graph representation of the inter-city transportation network. This requires merging information from the Settlement dataset with the road dataset.</p>
              <p>Each node v in this view contains:</p>
              <p>
                <ol>
                  <li class="border-0">A unique id: This identifies the settlement.</li>
                  <li class="border-0">Access roads: A set of nodes from V_seg that are within some geographical radius R of v.</li>
                  <li class="border-0">Latitude and longitude of the settlement’s center.</li>
                  <li class="border-0">Other information such as city name, population etc.</li>
                </ol>
              </p>
              <p>Each edge (u, v) in this view represents a road directly connecting u to v without going through any other settlement. As useful auxiliary information, we store the IDs of the road segments that make up this road.</p>
              <p>We construct this view by starting with the Segment view and following the below algorithm:</p>
              <p>
                <ol>
                  <li class="border-0">Attach all segment nodes within a 2km radius of each city to that city.</li>
                  <li class="border-0">Recursively merge pairs of road nodes A and B if B has a degree <= 2. This eliminates irrelevant nodes and reduces the number of nodes from 18668 to 2276.</li>
                  <li class="border-0">For each settlement, find out whether there is a direct link to another settlement through the reduced set of road nodes. If so, the settlements are directly connected.</li>
                </ol>
              </p>
              <p>We distributed the computation required across 5 machines and it took 3 hours to build the above graph. We obtained a graph with 1505 cities and 6522 direct roads between them.</p>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- #faq -->

    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="advanced-features">

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="{% static 'landing/img/advanced-feature-1.jpg' %}" alt="">
              <div class="wow fadeInLeft">
                <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse</h2>
                <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="{% static 'landing/img/advanced-feature-2.jpg' %}" alt="">
              <div class="wow fadeInRight">
                <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse</h2>
                <i class="ion-ios-paper-outline" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-duration="0.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <i class="ion-ios-color-filter-outline wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                <i class="ion-ios-barcode-outline wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="{% static 'landing/img/advanced-feature-3.jpg' %}" alt="">
              <div class="wow fadeInLeft">
                <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse</h2>
                <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <i class="ion-ios-albums-outline"></i>
                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #advanced-features -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      More Features Section
    ============================-->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">More Features</h3>
          <span class="section-divider"></span>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-ios-heart-outline"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #more-features -->

    <!--==========================
      Clients
    ============================-->
    <section id="clients">
      <div class="container">

        <div class="row wow fadeInUp">

          <div class="col-md-2">
            <img src="{% static 'landing/img/clients/client-1.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'landing/img/clients/client-2.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'landing/img/clients/client-3.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'landing/img/clients/client-4.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'landing/img/clients/client-5.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'landing/img/clients/client-6.png' %}" alt="">
          </div>

        </div>
      </div>
    </section><!-- #more-features -->

    <!--==========================
      Pricing Section
    ============================-->
    <section id="pricing" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Pricing</h3>
          <span class="section-divider"></span>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box wow fadeInLeft">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> month</span></h4>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Quam adipiscing vitae proin</li>
                <li><i class="ion-android-checkmark-circle"></i> Nec feugiat nisl pretium</li>
                <li><i class="ion-android-checkmark-circle"></i> Nulla at volutpat diam uteera</li>
                <li><i class="ion-android-checkmark-circle"></i> Pharetra massa massa ultricies</li>
                <li><i class="ion-android-checkmark-circle"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="box featured wow fadeInUp">
              <h3>Business</h3>
              <h4><sup>$</sup>29<span> month</span></h4>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Quam adipiscing vitae proin</li>
                <li><i class="ion-android-checkmark-circle"></i> Nec feugiat nisl pretium</li>
                <li><i class="ion-android-checkmark-circle"></i> Nulla at volutpat diam uteera</li>
                <li><i class="ion-android-checkmark-circle"></i> Pharetra massa massa ultricies</li>
                <li><i class="ion-android-checkmark-circle"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="box wow fadeInRight">
              <h3>Developer</h3>
              <h4><sup>$</sup>49<span> month</span></h4>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Quam adipiscing vitae proin</li>
                <li><i class="ion-android-checkmark-circle"></i> Nec feugiat nisl pretium</li>
                <li><i class="ion-android-checkmark-circle"></i> Nulla at volutpat diam uteera</li>
                <li><i class="ion-android-checkmark-circle"></i> Pharetra massa massa ultricies</li>
                <li><i class="ion-android-checkmark-circle"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #pricing -->


    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Frequently Asked Questions</h3>
          <span class="section-divider"></span>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Our Team</h3>
          <span class="section-divider"></span>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-lg-4 col-md-4">
            <div class="member">
              <div class="pic"><img src="{% static 'landing/img/team/arif.jpg' %}" alt=""></div>
              <h4>Arif Arman</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="member">
              <div class="pic"><img src="{% static 'landing/img/team/harish.jpg' %}" alt=""></div>
              <h4>Harish Kumar</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="member">
              <div class="pic"><img src="{% static 'landing/img/team/shashwat.jpg' %}" alt=""></div>
              <h4>Shashwat Mehta</h4>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Gallery</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'landing/img/gallery/screenshot-1.jpg' %}" class="gallery-popup">
                <img src="{% static 'landing/img/gallery/screenshot-1.jpg' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'landing/img/gallery/screenshot-2.jpg' %}" class="gallery-popup">
                <img src="{% static 'landing/img/gallery/screenshot-5.jpg' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'landing/img/gallery/screenshot-3.jpg' %}" class="gallery-popup">
                <img src="{% static 'landing/img/gallery/screenshot-3.jpg' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'landing/img/gallery/screenshot-4.jpg' %}" class="gallery-popup">
                <img src="{% static 'landing/img/gallery/screenshot-4.jpg' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'landing/img/gallery/screenshot-5.jpg' %}" class="gallery-popup">
                <img src="{% static 'landing/img/gallery/screenshot-6.jpg' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'landing/img/gallery/screenshot-6.jpg' %}" class="gallery-popup">
                <img src="{% static 'landing/img/gallery/screenshot-7.jpg' %}" alt="">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #gallery -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            TAMU CSCE 676 Data Mining Project
          </div>
          <div class="credits">
            Course Instructor: <a href="http://faculty.cse.tamu.edu/caverlee/" target="_blank">Dr. James Caverlee</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="https://bootstrapmade.com/" target="_blank">
              Template by: <span class="text-primary">BootstrapMade</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'landing/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'landing/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'landing/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'landing/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'landing/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'landing/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'landing/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'landing/lib/magnific-popup/magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'landing/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'landing/js/main.js' %}"></script>

</body>
</html>
